USE [ForzaAnalytics]
GO
/****** Object:  Table [dbo].[Packet]    Script Date: 2024/07/20 02:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time] [datetimeoffset](7) NULL,
	[IsRaceOn] [bit] NOT NULL,
	[TimestampMS] [bigint] NOT NULL,
	[EngineMaxRpm] [real] NOT NULL,
	[EngineIdleRpm] [real] NOT NULL,
	[CurrentEngineRpm] [real] NOT NULL,
	[AccelerationX] [real] NOT NULL,
	[AccelerationY] [real] NOT NULL,
	[AccelerationZ] [real] NOT NULL,
	[VelocityX] [real] NOT NULL,
	[VelocityY] [real] NOT NULL,
	[VelocityZ] [real] NOT NULL,
	[AngularVelocityX] [real] NOT NULL,
	[AngularVelocityY] [real] NOT NULL,
	[AngularVelocityZ] [real] NOT NULL,
	[Yaw] [real] NOT NULL,
	[Pitch] [real] NOT NULL,
	[Roll] [real] NOT NULL,
	[NormalizedSuspensionTravelFrontLeft] [real] NOT NULL,
	[NormalizedSuspensionTravelFrontRight] [real] NOT NULL,
	[NormalizedSuspensionTravelRearLeft] [real] NOT NULL,
	[NormalizedSuspensionTravelRearRight] [real] NOT NULL,
	[TireSlipRatioFrontLeft] [real] NOT NULL,
	[TireSlipRatioFrontRight] [real] NOT NULL,
	[TireSlipRatioRearLeft] [real] NOT NULL,
	[TireSlipRatioRearRight] [real] NOT NULL,
	[WheelRotationSpeedFrontLeft] [real] NOT NULL,
	[WheelRotationSpeedFrontRight] [real] NOT NULL,
	[WheelRotationSpeedRearLeft] [real] NOT NULL,
	[WheelRotationSpeedRearRight] [real] NOT NULL,
	[WheelOnRumbleStripFrontLeft] [real] NOT NULL,
	[WheelOnRumbleStripFrontRight] [real] NOT NULL,
	[WheelOnRumbleStripRearLeft] [real] NOT NULL,
	[WheelOnRumbleStripRearRight] [real] NOT NULL,
	[WheelInPuddleDepthFrontLeft] [real] NOT NULL,
	[WheelInPuddleDepthFrontRight] [real] NOT NULL,
	[WheelInPuddleDepthRearLeft] [real] NOT NULL,
	[WheelInPuddleDepthRearRight] [real] NOT NULL,
	[SurfaceRumbleFrontLeft] [real] NOT NULL,
	[SurfaceRumbleFrontRight] [real] NOT NULL,
	[SurfaceRumbleRearLeft] [real] NOT NULL,
	[SurfaceRumbleRearRight] [real] NOT NULL,
	[TireSlipAngleFrontLeft] [real] NOT NULL,
	[TireSlipAngleFrontRight] [real] NOT NULL,
	[TireSlipAngleRearLeft] [real] NOT NULL,
	[TireSlipAngleRearRight] [real] NOT NULL,
	[TireCombinedSlipFrontLeft] [real] NOT NULL,
	[TireCombinedSlipFrontRight] [real] NOT NULL,
	[TireCombinedSlipRearLeft] [real] NOT NULL,
	[TireCombinedSlipRearRight] [real] NOT NULL,
	[SuspensionTravelMetersFrontLeft] [real] NOT NULL,
	[SuspensionTravelMetersFrontRight] [real] NOT NULL,
	[SuspensionTravelMetersRearLeft] [real] NOT NULL,
	[SuspensionTravelMetersRearRight] [real] NOT NULL,
	[CarOrdinal] [int] NOT NULL,
	[CarClass] [int] NOT NULL,
	[CarPerformanceIndex] [int] NOT NULL,
	[DrivetrainType] [int] NOT NULL,
	[NumCylinders] [int] NOT NULL,
	[CarCategory] [int] NOT NULL,
	[_unknown1] [int] NOT NULL,
	[_unknown2] [int] NOT NULL,
	[PositionX] [real] NOT NULL,
	[PositionY] [real] NOT NULL,
	[PositionZ] [real] NOT NULL,
	[Speed] [real] NOT NULL,
	[Power] [real] NOT NULL,
	[Torque] [real] NOT NULL,
	[TireTempFl] [real] NOT NULL,
	[TireTempFr] [real] NOT NULL,
	[TireTempRl] [real] NOT NULL,
	[TireTempRr] [real] NOT NULL,
	[Boost] [real] NOT NULL,
	[Fuel] [real] NOT NULL,
	[Distance] [real] NOT NULL,
	[BestLapTime] [real] NOT NULL,
	[LastLapTime] [real] NOT NULL,
	[CurrentLapTime] [real] NOT NULL,
	[CurrentRaceTime] [real] NOT NULL,
	[Lap] [int] NOT NULL,
	[RacePosition] [tinyint] NOT NULL,
	[Accelerator] [tinyint] NOT NULL,
	[Brake] [tinyint] NOT NULL,
	[Clutch] [tinyint] NOT NULL,
	[Handbrake] [tinyint] NOT NULL,
	[Gear] [tinyint] NOT NULL,
	[Steer] [smallint] NOT NULL,
	[NormalDrivingLine] [tinyint] NOT NULL,
	[NormalAiBrakeDifference] [tinyint] NOT NULL,
	[Position]  AS ([geometry]::Parse(concat('POINT(',[PositionX],' ',[PositionZ],' ',[PositionY],')'))) PERSISTED,
	[Line] [geometry] NULL,
	[SessionId] [int] NULL,
 CONSTRAINT [PK_Packet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Packet] ADD  CONSTRAINT [DF__Packet__Time__38996AB5]  DEFAULT (sysdatetimeoffset()) FOR [Time]
GO
ALTER TABLE [dbo].[Packet]  WITH CHECK ADD  CONSTRAINT [FK_Packet_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([Id])
GO
ALTER TABLE [dbo].[Packet] CHECK CONSTRAINT [FK_Packet_Session]
GO
