USE [ForzaAnalytics]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 2024/07/20 02:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BoundingBox] [geometry] NULL,
	[Layout] [geometry] NULL,
	[StartPosition] [geometry] NULL,
	[EndPosition] [geometry] NULL,
	[ReducedLayout] [geometry] NULL,
 CONSTRAINT [PK_Track] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SIX_Track_BoundingBox]    Script Date: 2024/07/20 02:37:38 ******/
CREATE SPATIAL INDEX [SIX_Track_BoundingBox] ON [dbo].[Track]
(
	[BoundingBox]
)USING  GEOMETRY_AUTO_GRID 
WITH (BOUNDING_BOX =(-10000, -5000, 7000, 6000), 
CELLS_PER_OBJECT = 8, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [SIX_Track_Layout]    Script Date: 2024/07/20 02:37:38 ******/
CREATE SPATIAL INDEX [SIX_Track_Layout] ON [dbo].[Track]
(
	[ReducedLayout]
)USING  GEOMETRY_AUTO_GRID 
WITH (BOUNDING_BOX =(-10000, -5000, 7000, 6000), 
CELLS_PER_OBJECT = 8, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
