USE [ForzaAnalytics]
GO
/****** Object:  Table [dbo].[cars_import]    Script Date: 2024/07/20 02:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars_import](
	[column1] [nvarchar](50) NOT NULL,
	[column2] [int] NOT NULL
) ON [PRIMARY]
GO
